// Specific CSS for your home-page

body
{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.tm-white a {
  color: #fff;
}

/* start h1 group */
h1 {
  margin-top: 0;
  margin-bottom: 25px;
}
h1,
h2,
h3,
h4
{
  font-weight: bold;
}
/* end h1 group */
p { line-height: 1.6em; }
/* img */
img
{
  max-width: 100%;
  height: auto;
}
/* img */

/* overlay */
.overlay
{
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.4);
 padding-top: 90px;
 padding-bottom: 90px;
}
/* over lay */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start home */
#home
{
  background: asset_url('home-bg.jpg') no-repeat;
  background-size: cover;
  height: 75vh;
  color: #fff;
  text-align: center;
  width: 100%;
}
#home p
{
  font-weight: 400;
  font-style: italic;
  line-height: 2em;
}
#home img
{
  display: inline-block;
  margin-top: 30px;
}
/* end home */

/* start divider */
#divider
{
  background: #f8f8f8;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
#divider .fa
{
  color: #022B68;
  font-size: 60px;
}
#divider h3
{
  font-size: 20px;
}
/* end divider */


/* start contact */
#contact
{
  background: asset_url('home-bg.jpg') no-repeat;
  background-size: cover;
  color: #fff;
}
#contact h2
{
  padding-bottom: 10px;
}

#contact li {
  padding-bottom: 15px;
}

#contact address
{
  padding-top: 20px;
}
#contact address .fa
{
  background: #022B68;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 6px;
  margin-right: 10px;
}
/* end contact */
