<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a>

  <div class="navbar-wagon-right">
    <div class="navbar-wagon-item hidden-xs hidden-sm">
      <a href="" class="navbar-wagon-item navbar-wagon-link">Early adopter</a>
      <a href="" class="navbar-wagon-item navbar-wagon-link">Service</a>
      <a href="" class="navbar-wagon-item navbar-wagon-link">Contact</a>
    </div>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Stamp</a></li>
          <li><a href="#">Verify</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
