    <!-- start navigation -->
    <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Binderz</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right text-uppercase">
            <li><a href="#home">Home</a></li>
            <li><a href="#feature">Features</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navigation -->

    <!-- start home -->
    <section id="home">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
              <h1 class="text-upper">Binderz</h1>
              <p class="tm-white">Easily store and securely backup your files for fully digital access</p>
              <%= image_tag "software-img.png", alt:"home img", class:"img-responsive" %>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end home -->

    <!-- start divider -->
    <section id="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-cloud-upload"></i>
            <h3 class="text-uppercase">DIGITIZE YOUR DOCUMENTS</h3>
            <p>Thanks to our strategic partnerships with industry-leaders in the Data and Records Management industry, we provide fully-secured document on-site pickup, scanning and digitalization solutions</p>
          </div>
          <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-lock"></i>
            <h3 class="text-uppercase">ACCESS YOUR ONLINE SECURED SAFE</h3>
            <p>You gain access to a highly user friendly - fully digital - secured storage which complies with all highest security industry standards. </p>
          </div>
          <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-file-text"></i>
            <h3 class="text-uppercase">DOCUMENT PROCESS MANAGEMENT</h3>
            <p>Stop exchanging numerous physical documents and go fully digital with our document process management tool allowing to collaborate on the creation of a document but also sign and certify its validity. </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end divider -->

    <!-- start feature -->
    <section id="feature1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
            <h2 class="text-uppercase">First step towards digitalisation</h2>
            <p><span><i class="fa fa-truck"></i></span>We organise the pick-up of your documents at your doorstep.</p>
            <p><span><i class="fa fa-cloud-upload"></i></span>Your documents are uploaded in your personnal safe.</p>
            <p><span><i class="fa fa-trash-o"></span></i>Document destruction is taken care of if you do not need your physical copy.</p>
            <p><span><i class="fa fa-archive"></span></i>Physical storage is organized if you wish to maintain your document in a safe location.</p>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag "software-img.png", alt:"feature img", class:"img-responsive" %>
          </div>
        </div>
      </div>
    </section>
    <!-- end feature -->

    <!-- start feature1 -->
    <section id="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <%= image_tag "software-img.png", alt:"feature img", class:"img-responsive" %>
          </div>
          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <h2 class="text-uppercase">Highly secured and user-friendly platform</h2>
            <p><span><i class="fa fa-shield"></i></span>Security is our main concern. We make sure you only share what you decide to share.</p>
            <p><span><i class="fa fa-lock"></span></i>We keep your data encrypted and access through highly secured web-protocols.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end feature1 -->

    <!-- start feature2 -->
    <section id="feature1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
            <h2 class="text-uppercase">FULL DIGITAL DOCUMENT MANAGEMENT</h2>
            <p>Enjoy fully integrated document management capabilities directly online.</p>
            <p><span><i class="fa fa-edit"></span></i>Collaborate with other parties to create your contracts and prepare your document.</p>
            <p><span><i class="fa fa-pencil"></span></i>Digitally sign your document giving it legal value.</p>
            <p><span><i class="fa fa-institution"></span></i>Ask for a certification to be recognized by third parties.</p>
            <p><span><i class="fa fa-share"></span></i>Share it when needed with stakeholders.</p>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag "software-img.png", alt:"feature img", class:"img-responsive" %>
          </div>
        </div>
      </div>
    </section>
    <!-- end feature2 -->

    <!-- start pricing -->
    <section id="pricing">
      <div class="container">
        <div class="row">
          <div class="col-md-12 wow bounceIn">
            <h2 class="text-uppercase">Our Pricing</h2>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
            <div class="pricing text-uppercase">
              <div class="pricing-title">
                <h4>Binderz Pro</h4>
                <p>€20</p>
                <small class="text-lowercase">monthly</small>
              </div>
              <ul>
                <li>2 GB Space</li>
                <li>600 GB Bandwidth</li>
                <li>60 More Themes</li>
                <li>Lifetime Support</li>
              </ul>
              <button class="btn btn-primary text-uppercase">Learn more</button>
            </div>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
            <div class="pricing active text-uppercase">
              <div class="pricing-title">
                <h4>Binderz for Business</h4>
                <p>€10</p>
                <small class="text-lowercase">monthly</small>
                <small class="text-lowercase">per user (min. 5 users)</small>
              </div>
              <ul>
                <li>15 GB space</li>
                <li>1,500 GB Bandwidth</li>
                <li>150 More Themes</li>
                <li>Lifetime Support</li>
              </ul>
              <button class="btn btn-primary text-uppercase">Learn more</button>
            </div>
          </div>
          <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
            <div class="pricing text-uppercase">
              <div class="pricing-title">
                <h4>Binderz for Enterprise</h4>
                <p>Request a free quote</p>
              </div>
              <ul>
                <li>35 GB space</li>
                <li>3,500 GB bandwidth</li>
                <li>350 more themes</li>
                <li>Lifetime Support</li>
              </ul>
              <button class="btn btn-primary text-uppercase">Learn more</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end pricing -->

    <!-- start contact -->
    <section id="contact">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
              <h2 class="text-uppercase">Contact Us</h2>
              <p>Ask a BINDERZ expert how we can help you to</p>
              <ul>
                <li>Prepare to go digital with your administration</li>
                <li>Fully manage your administration on-line</li>
                <li>Use our document services ranging from signing to certification</li>
              </ul>
            </div>
            <div>
              <address>
                <p><i class="fa fa-map-marker"></i>Parvis Sainte-Gudule, 5, 1000 Brussels</p>
                <p><i class="fa fa-envelope-o"></i> info@binderz.io</p>
                <p><i class="fa fa-phone"></i> +32 476 32 23 88</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact -->

    <!-- start footer -->
    <footer>
      <div class="container">
        <div class="row">
          <p>Copyright © 2018 Binderz</p>
        </div>
      </div>
    </footer>
    <!-- end footer -->
