    <!-- start home -->
    <section id="home">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
              <h1 class="text-upper">Binderz</h1>
              <p class="tm-white">Instant and secure Proof of Existence for any document</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end home -->

    <!-- start divider -->
    <section id="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-lock"></i>
            <h3 class="text-uppercase">SEAL YOUR DOCUMENTS</h3>
            <p>By sealing your e-documents on the Ethereum blockchain, Binderz organises the proof of immutability of a digitally generated document.</p>
          </div>
          <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-check"></i>
            <h3 class="text-uppercase">CHECK A DOCUMENT</h3>
            <p>Is a received document valid? Binderz Cheprovides an instant check which reassures you on its existence, validity and non-alteration.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end divider -->

    <!-- start contact -->
    <section id="contact">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
              <h2 class="text-uppercase">Contact Us</h2>
              <p>Reach out to learn more about our service</p>
            </div>
            <div>
              <address>
                <p><i class="fa fa-envelope-o"></i> info@binderz.io</p>
                <p><i class="fa fa-phone"></i> +32 476 32 23 88</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact -->
