    <!-- start navigation -->
    <nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
            <span class="icon icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Binderz</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right text-uppercase">
            <li><a href="#home">Home</a></li>
            <li><a href="#feature">Features</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- end navigation -->

    <!-- start home -->
    <section id="home">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
              <h1 class="text-upper">Binderz</h1>
              <p class="tm-white">Instant and secure Proof of Existence for any document</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end home -->

    <!-- start divider -->
    <section id="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-lock"></i>
            <h3 class="text-uppercase">CERTIFY YOUR DOCUMENTS</h3>
            <p>Relying on the blockchain technology, Binderz will provide an easy-to-use service for the Proof of Existence. Uploading your document to have it certified in the Ethereum blockchain. </p>
          </div>
          <div class="col-md-6 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
            <i class="fa fa-check"></i>
            <h3 class="text-uppercase">CHECK A RECEIVED DOCUMENT</h3>
            <p>Check smoothly wether a received document has been validated in the blockchain by its originator. An instant check will reassure you on its existence, validity and non-alteration.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end divider -->

    <!-- start feature2 -->
    <section id="feature1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.6s">
            <h2 class="text-uppercase">INSTANT DOCUMENT CERTIFICATION</h2>
            <p><span><i class="fa fa-edit"></span></i>Collaborate with other parties to create your contracts and prepare your document.</p>
            <p><span><i class="fa fa-pencil"></span></i>Digitally sign your document giving it legal value.</p>
            <p><span><i class="fa fa-institution"></span></i>Ask for a certification to be recognized by third parties.</p>
            <p><span><i class="fa fa-share"></span></i>Share it when needed with stakeholders.</p>
          </div>
          <div class="col-md-6 wow fadeInRight" data-wow-delay="0.6s">
            <%= image_tag "software-img.png", alt:"feature img", class:"img-responsive" %>
          </div>
        </div>
      </div>
    </section>
    <!-- end feature2 -->

    <!-- start feature1 -->
    <section id="feature">
      <div class="container">
        <div class="row">
          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <%= image_tag "software-img.png", alt:"feature img", class:"img-responsive" %>
          </div>
          <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <h2 class="text-uppercase">Highly secured and user-friendly platform</h2>
            <p><span><i class="fa fa-shield"></i></span>Security is our main concern. We make sure you only share what you decide to share.</p>
            <p><span><i class="fa fa-lock"></span></i>We keep your data encrypted and access through highly secured web-protocols.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- end feature1 -->

    <!-- start contact -->
    <section id="contact">
      <div class="overlay">
        <div class="container">
          <div class="row">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.6s">
              <h2 class="text-uppercase">Contact Us</h2>
              <p>Ask a BINDERZ expert how we can help you to</p>
              <ul>
                <li>Prepare to go digital with your administration</li>
                <li>Fully manage your administration on-line</li>
                <li>Use our document services ranging from signing to certification</li>
              </ul>
            </div>
            <div>
              <address>
                <p><i class="fa fa-map-marker"></i>Parvis Sainte-Gudule, 5, 1000 Brussels</p>
                <p><i class="fa fa-envelope-o"></i> info@binderz.io</p>
                <p><i class="fa fa-phone"></i> +32 476 32 23 88</p>
              </address>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact -->
